[Unit]
Description=Dataiku DSS {{ boot_name }}
After=network.target

[Service]
Type=forking
User={{ dss_user }}
Environment=DKUINSTALLDIR={{ data_dir }}
ExecStart={{ data_dir }}/bin/dss start
ExecStop={{ data_dir }}/bin/dss stop
Restart=on-failure

[Install]
WantedBy=multi-user.target
